<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Blackjack</h1>
    <div class="container">

        <h2>Dealer Hand</h2>

        <div id="dealerHand" class="hand">
            <% dealer.forEach((card, index) =>{ %>
                <% if (index == 0) { %>
                    <img src="https://blog.betvictor.com/campaigns/the-art-of-playing-cards/assets/img/og_card_5@2x.png" alt="">
                <% } else { %> 
                      <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
             <%  } %>
            <% }) %>
        </div>

        <h2>Player Hand</h2>

        <div id="playerHand" class="hand">
            <% player.forEach(card =>{ %>
                <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
            <% }) %>
        </div>

    <div class="buttons">
        <form action="/hit" method="POST">
            <button value="hit">Hit</button>
        </form>
        <form action="/stay" method="POST">
            <button value="stay">Stay</button>
        </form>
    </div>

</body>
</html>