<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Blackjack</h1>
    <div class="container">

        <h2>Dealer Hand</h2>

        <div id="dealerHand" class="hand">
            <% dealer.forEach(card =>{ %>
                <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
            <% }) %>
        </div>

        <h2>Player Hand</h2>

        <div id="playerHand" class="hand">
            <% player.forEach(card =>{ %>
                <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
            <% }) %>
        </div>

    <div class="buttons">
        <form action="/blackjack" method="POST">
            <button>Play Again</button>
        </form>
    </div>

        <% if(playerValue >= 22){ %>
        <h1>You bust with <%= playerValue %>! Dealer wins.</h1>
        <% } else if(dealerValue >= 22){ %>
        <h1>The Dealer busts with <%= dealerValue %>! You win.</h1>
        <% } else if(playerValue == dealerValue){ %>
        <h1>You both tie with <%= playerValue %>! Nobody wins.</h1>
        <% } else if(playerValue > dealerValue){ %>
        <h1>You won with <%= playerValue %>!</h1>
        <% } else if(playerValue < dealerValue){ %>
        <h1>Dealer wins with <%= dealerValue %>!</h1>
        <% } %>

</body>
</html>