<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Results</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Blackjack</h1>
        </div>

        <h2>Dealer Hand</h2>
        <div class="hand-container">
            <div id="dealerHand" class="hand">
                <% dealer.forEach(card =>{ %>
                    <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
                <% }) %>
            </div>

            <h2>Player Hand</h2>

            <div id="playerHand" class="hand">
                <% player.forEach(card =>{ %>
                    <img src="<%= card.image %>" alt="<%= card.suit %><%= card.value%>">
                <% }) %>
            </div>
        </div>
        <div class="buttons">
            <form action="/blackjack" method="POST">
                <button>Play Again</button>
            </form>
        </div>

            <% if(playerValue >= 22){ %>
            <h2 class="results">You bust with <%= playerValue %>! Dealer wins.</h2>
            <% } else if(dealerValue >= 22){ %>
            <h2 class="results">The Dealer busts with <%= dealerValue %>! You win.</h2>
            <% } else if(playerValue == dealerValue){ %>
            <h2 class="results">You both tie with <%= playerValue %>! Nobody wins.</h2>
            <% } else if(playerValue > dealerValue){ %>
            <h2 class="results">You won with <%= playerValue %>!</h2>
            <% } else if(playerValue < dealerValue){ %>
            <h2 class="results">Dealer wins with <%= dealerValue %>!</h2>
            <% } %>
    </div>
</body>
</html>